.pbl{
    padding: 0 10px 10px 10px !important;
    background: #f7f7f7 !important;
    border-radius: 2px !important;
    margin: 40px auto !important;
    text-align: center !important;
}
.pbl:before{
    content: 'Advertisement' !important;
    position: relative !important;
    text-align: center !important;
    font-family: Consolas,sans-serif !important;
    font-size: 10px !important;
}
.pbl > ins {
    position:relative !important;
    display:block !important;
}
